#logo {
  width: 250px;
  height: auto;
}

.header-wrapper {
  background-color: var(--color-complementary);

  padding: 1rem 0;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.header-wrapper .btn-text,
.header-wrapper a {
  color: var(--color-text-inverse);
  text-decoration: none;
}

.header-wrapper .btn-text:hover,
.header-wrapper a:hover {
  color: var(--color-text-inverse);
  text-decoration: underline;
}
