:root {
  --font-family-base: Arial, Helvetica, sans-serif;
  --font-size-base: 18px;
  --color-text: #1b2a40;
  --color-primary-50: #e9f1ff;
  --color-primary-100: #d4e5ff;
  --color-primary-200: #c4dcff;
  --color-primary-300: #a7c4eb;
  --color-primary-400: #89a9d9;
  --color-primary-500: #1b3e73;
  --color-primary-600: #17355f;
  --color-primary-800: #152233;
  --color-primary-900: #0e1622;
  --line-height-base: 1.5;
  /* Button colours */
  --btn-bg: var(--color-primary-500);
  --btn-bg-hover: var(--color-primary-400);
  --btn-text: var(--color-primary-50);
  --btn-border: #e8dfd6;

  /* Button shape */
  --btn-radius: 5px;
  --btn-padding-y: 12px;
  --btn-padding-x: 24px;

  /* Button transitions */
  --btn-transition: all 0.2s ease;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-text);
  line-height: var(--line-height-base);
}

/*
To use the above values in individual components you can do as follows:
.title {
  color: var(--color-text); 
}
*/
