.nav-buttons {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-link {
  text-decoration: none;

  cursor: pointer;
  padding: 0;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-text {
  background: none;
  border: none;

  cursor: pointer;

  padding: 0;
  text-decoration: none;
}

.btn-text:hover {
  text-decoration: underline;
}
