.navigation-bar-wrapper {
  background-color: var(--color-complementary);
  padding: 0.75rem 0;
  margin-bottom: 1rem;
}

.navigation-bar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-bar-link {
  color: var(--color-text-inverse);
  text-decoration: none;
}

.nav-bar-link:hover {
  color: var(--color-text-inverse);
  text-decoration: underline;
}

.nav-bar-link.active {
  /*font-weight: 700;*/
  text-decoration: underline;
  color: var(--color-text-inverse);
}
