.privacy-policy-title {
  margin-bottom: 16px;
}

.privacy-policy-container h1,
.privacy-policy-container h2 {
  color: var(--color-primary-500);
}

.privacy-policy-container p,
.privacy-policy-container ul {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-bottom: 16px;
}

.privacy-policy-container ul {
  padding-left: 20px;
}

.privacy-policy-container li {
  margin-bottom: 8px;
}
